// COLORS
$white-color: #FCEFEF;
$black-color: #252323;
$background-color: #669c70;
$secondary-color: #d1e1d4;

// highlighting
$primary-layer: #29312a80;
$secondary-layer: #7da38080;
$tertiary-layer: #a6bbaa80;

// top layers
$verb: #d1751e90;
$noun: #d11e3990;
$adj: #527d8190;
$adv: #685256;
$prep: #DEECE1;
 
// links
$primary-link: #FCEFEF;

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;